<html>
<head>
    <title>Silex and ReactJS</title>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
</head>
<body>
<section id="container"></section>
<script src="assets/js/build.js"></script>
</body>
</html>